.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.about p {
    width: 75%;
    margin: 1em auto;
    max-width: 555px;
    text-align: center;
    color: sienna;
    font-size: 1.3rem;
}