.contact-page {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(35deg, ivory, var(--sb4));
    background-blend-mode: multiply;
    background-blend-mode: multiply;
}

.contact-page .style-background-div1 {
    background-color: var(--sb3);
    position: absolute;
    height: 55%;
    width: 100vw;
    transform: skewY(-11deg);
}

.contact-page .style-background-div2 {
    background-color: var(--sb3);
    position: absolute;
    height: 55%;
    width: 100vw;
    transform: skewY(11deg);
}

.contact-page .style-background-div3 {
    background-color: var(--sb3);
    position: absolute;
    height: 56px;
    width: 100vw;
}

/* BUSINESS CARD */

.contact-page .container {
    justify-content: center;
    align-items: center;
    perspective: 100vw;
    perspective-origin: center;
    padding: 35px;
    border-radius: 33px;
    cursor: pointer;
}

.contact-page .d-flex {
    display: flex;
}

.contact-page .card {
    width: 288px;
    height: 188px;
    overflow: hidden;
    position: relative;
    background: var(--sb9);
    transform-style: preserve-3d;
    border: 11px ridge var(--sb10);
    outline: 22px ridge var(--sb8);
    border-radius: 11px;
    transition: .5s;
}

.contact-page .card:hover {
    background-color: var(--sb10);
    box-shadow: none;
}

.contact-page .card:after {
    width: 200%;
    height: 120%;
    content: "";
    background: linear-gradient(115deg,
            #ffffff00,
            #f5f9ff23,
            #ffffff00);
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease 600ms;
}

.contact-page .card-content {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contact-page .logo {
    width: 35px;
    height: 35px;
    margin-right: .5em;
    border: 1px solid tan;

    color: tan;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}

.contact-page .logo:before {
    content: "S";
}

.contact-page .title {
    color: ivory;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .75rem;
    letter-spacing: 2px;
    border-bottom: 1px solid black;
    line-height: 28px;
    transition: .5s;
}

.contact-page .antonio {
    font-weight: 100;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    color: ivory;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .75rem;
    width: 222px;
    bottom: 15%;
    margin-left: 3em;
    opacity: .6;
    cursor: pointer;
    position: absolute;
    z-index: 0;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media screen and (min-width: 877px) {
    .contact-page .card {
        width: 377px;
        height: 222px;
        transition: .5s;
    }

    .contact-page .title {
        font-size: 1.2rem;
        margin-left: 5px;
        transition: .5s;
    }

    .tooltip .tooltiptext {
        margin-left: 25%;
    }

    .tooltip .tooltiptext {

        margin-left: 7em;
    }
}