.home {
    background-image: url('https://cdn.midjourney.com/d980bd63-6c44-45d6-a0f4-d46ddafc962c/grid_0.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    text-align: center;
    background-blend-mode: multiply;
    text-align: center;
    font-style: italic;
    background-color: var(--sb4);
}

.home .title {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding: 3em 1em;
    transition: .1s;
    border-radius: 11px;
    transform: skew(-7deg);
    border: 1px dotted moccasin;
    width: 75%;
    max-width: 444px;
}

.home .title h1 {
    color: antiquewhite;
    font-size: 2.4rem;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding-left: 22px;
}

.home .title .antonio {
    font-size: 1rem;
    color: #111;
    text-transform: uppercase;
    background-color: antiquewhite;
    letter-spacing: 3vw;
    border-top: 2px solid var(--sb4);
    border-bottom: 2px solid var(--sb4);
    width: 85%;
    margin: 0 auto;
}

.home .sub-title p .react-span {
    font-size: 3.5rem;
    color: antiquewhite;
    text-transform: uppercase;
    letter-spacing: .5vw;
}

.home .sub-title p .engineer-span {
    color: antiquewhite;
    text-transform: uppercase;
    margin-left: -.25em;
    font-size: 1.35rem;
    letter-spacing: .5vw;
    background-color: var(--sb1);
    padding: 0 11px;
    backdrop-filter: blur(11px);
    background-color: 0 0 5px #222;
}

@media screen and (min-width: 877px) {
    .title-inner-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .home .title {
        transform: skew(-11deg);
        width: 711px;
    }

    .home .title h1 {
        letter-spacing: 2vw;
        border-top: 1px solid tan;
        color: antiquewhite;
        font-size: 3rem;
    }

    .home .title .antonio {
        font-size: 1rem;
        text-transform: uppercase;
        background-color: antiquewhite;
        letter-spacing: 1.5vw;
        min-width: 100%;
        margin-left: 4px;
        padding-right: 4px;
    }

    .home-style {
        height: 66px;
        width: 777px;
        position: absolute;
        backdrop-filter: blur(11px);
        z-index: -1;
    }
}