.home {
    background-image: url('../assets/home-background.png');
    background-image: url('../assets/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    text-align: center;
    background-blend-mode: multiply;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    min-height: 100vh;
}

.home .title {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding: 3em 1em;
    transition: .1s;
    border-radius: 11px;
    width: 75%;
    max-width: 444px;
    transform: skew(-15deg);
}

.home .title h1 {
    color: antiquewhite;
    font-size: 2.2rem;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding-left: 5px;
    text-shadow: 0 0 1px #111;
    border: 1px dotted white;
    backdrop-filter: blur(5px);
}

.home .title .antonio {
    font-size: 1.25rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2vw;
    background-color: rgba(255, 255, 255, 1);
    width: 85%;
    margin: 0 auto;
    font-weight: bold;
}

.home .sub-title {
    transform: skew(-22deg);
}

.home .sub-title p .react-span {
    font-size: 3rem;
    color: antiquewhite;
    text-transform: uppercase;
    letter-spacing: .5vw;
    text-shadow: 0 0 1px #111;
}

.home .sub-title p .engineer-span {
    background-color: rgb(171, 121, 57);
    color: antiquewhite;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1vw;
    padding: 0 7px;
    padding-left: 11px;
    margin-left: 11px;
    background-color: rgba(24, 19, 19, .7);
}

@media screen and (min-width: 877px) {
    .title-inner-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .home-title {
        transform: skew(-22deg);
    }

    .home .title h1 {
        letter-spacing: 2vw;
        color: antiquewhite;
        font-size: 3rem;
        margin-left: 2vw;
        margin-right: 1vw;
        border: none;
        border-bottom: 1px dotted white;
        border-top: 1px dotted white;
    }

    .home .title .antonio {
        letter-spacing: 15px;
        min-width: 100%;
        margin-left: 4px;
        padding: 0 3em;
        border: none;
    }
}