.main-hamburger {
    top: 22px;
    left: 22px;
    z-index: 11111;
    position: fixed;
}

.main-sidebar-open {
    width: 275px;
    height: 100vh;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    position: fixed;
    z-index: 1111;
    backdrop-filter: blur(5px);
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .7), transparent);
}

.main-sidebar-closed {
    width: 275px;
    height: 100vh;
    transition: 1s;
    transform: translateX(-276px);
    position: absolute;
}

.navMenu {
    position: absolute;
    top: 5em;
    left: 2em;
    z-index: 1;
}

.navMenu nav ul {
    list-style: none;
}

.navMenu nav li {
    margin: .1em 0;
    font-size: 1.35rem;
    transition: .5s;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 7px;
}

.navMenu nav li.nested {
    margin: -.3em;
    margin-left: 1.5em;
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.navMenu nav li:hover {
    padding-left: .2em;
    transition: .5s;
}

.navMenu nav a {
    color: #555;
}