.main-hamburger {
    top: 11px;
    left: 11px;
    z-index: 11111;
    position: fixed;
    border-radius: 11px;
}

.main-sidebar-open {
    width: 275px;
    height: 100vh;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .75s;
    position: fixed;
    z-index: 1111;
    background: linear-gradient(gainsboro, gainsboro, gainsboro, transparent);
}

.main-sidebar-closed {
    width: 275px;
    height: 100vh;
    transition: .1s;
    transform: translateX(-276px);
    position: absolute;
    background: linear-gradient(gainsboro, gainsboro, gainsboro, transparent);
}

.navMenu {
    position: absolute;
    top: 5em;
    left: 2em;
    z-index: 1;
}

.navMenu nav ul {
    list-style: none;
    font-weight: bold;
}

.navMenu nav li {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 7px;
    transition: .5s;
}

.navMenu nav li.nested {
    margin-top: 5px;
    margin-left: .5em;
    font-size: 1.25rem;
    letter-spacing: 1px;
    transition: .5s;
}

.navMenu nav li:hover {
    padding-left: .2em;
    transition: .5s;
}

.navMenu nav a {
    color: #665;
    transition: .5s;
    padding: 0 .5;
}

.navMenu nav a:hover {
    color: #665;
    padding-left: 5px;
    transition: .5s;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 11px;
}