.main-hamburger {
    top: 22px;
    left: 22px;
    z-index: 111;
    position: fixed;
    background-color: tan;
    border-radius: 4px;
    border: 5px ridge navajowhite;
}

.main-sidebar-open {
    background-Image: url('https://images.unsplash.com/photo-1484557052118-f32bd25b45b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80');
    width: 275px;
    height: 100vh;
    transition: 1s;
    position: fixed;
    z-index: 11;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-color: var(--sb7);
}

.main-sidebar-closed {
    background-color: navajowhite;
    width: 275px;
    height: 100vh;
    transition: 1s;
    transform: translateX(-276px);
    position: absolute;
}

.navMenu {
    position: absolute;
    top: 6em;
    left: 2em;
    z-index: 1;
}

.navMenu nav ul {
    list-style: none;
}

.navMenu nav li {
    margin: 1em 0;
    font-size: 1.35rem;
    transition: .5s;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

.navMenu nav li.nested {
    margin-left: 1em;
    font-size: 1.1rem;
}

.navMenu nav li:hover {
    padding-left: .2em;
    transition: .5s;
}

.navMenu nav a {
    color: navajowhite;
}