.musicApp {
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bW91bnRhaW5zfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .3);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.progressBar {
    width: 75%;
    height: 2px;
    position: absolute;
    top: 0;
}

.progress {
    width: 0.5px;
    background-color: #665;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.overlay {
    max-width: 375px;
    width: 95vw;
    height: 85vh;
    border-radius: 44px;
    background-color: rgba(255, 222, 173, .2);
    border: 3px solid #eee;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.albumCover {
    border-radius: 30px;
    height: 222px;
    width: 222px;
    z-index: 1;
    transition: .1s;
    border: 5px solid rgba(255, 255, 255, 1);
    margin-top: .5em;
    margin-bottom: .75em;
}

.albumCover img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    transition: .1s;
    object-fit: cover;
    border: 2px solid silver;
}

.musicApp .group1 {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.musicApp .group2 {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.musicAppButton {
    font-size: 3rem;
    cursor: pointer;
    border-radius: 5%;
    display: flex;
}

.musicApp i {
    color: #333;
    padding: .5em;
}

.musicApp i:hover {
    color: ivory;
}

.songTitle,
.artist {
    color: white;
    text-shadow: 0 0 3px black;
    z-index: 2;
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: .5vw;
}

@media screen and (min-width: 878px) {
    .overlay {
        width: 85%;
        height: 397px;
        max-width: 898px;
        display: flex;
        flex-direction: row;
    }

    .musicAppButton {
        font-size: 3rem;
    }

    .group1,
    .group2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 45%;
    }

    .albumCover {
        height: 255px;
        width: 255px;
        transition: 1s;
        margin: .5em auto;
    }

    .songTitle,
    .artist {
        font-size: 1.375rem;
        width: 333px;
        letter-spacing: .1vw;
    }

}