.musicApp {
    text-align: center;
    background-image: url('../assets/music-app-background.avif');
    height: 100vh;
    width: 100vw;
    background-position: bottom;
    background-color: var(--sb13);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.progressBar {
    width: 90%;
    height: 1px;
    margin-bottom: 15px;
    position: absolute;
    top: 3px;
}

.progress {
    width: 0.5px;
    background-color: ivory;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.overlay {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 65%;
    height: 75%;
    max-width: 426px;
    border-radius: 15px;
    padding: 0.5em;
    background-color: var(--sb4);
    position: relative;
    transition: .5s;
}

.albumCover {
    position: absolute;
    border-radius: 22px;
    height: 200px;
    width: 200px;
    z-index: 1;
    transition: 1s;
    border: 11px ridge white;
}

.albumCover img {
    height: 100%;
    width: 100%;
    border-radius: 11px;
    transition: 1s;
    border: 1px solid white;
    object-fit: cover;
}

.musicAppButtons .group1 {
    margin-bottom: 15em;
    transition: .5s;
}

.musicAppButton {
    font-size: 2rem;
    margin: .4em;
    cursor: pointer;
    padding: .2em;
    border-radius: 11px;
    transition: .5s;
    border-radius: 5%;
}


.musicApp i:hover {
    transition: 0.5s;
    color: ivory;
}

.musicApp i:active {
    transform: scale(0.95);
}

.songTitle,
.artist {
    color: ivory;
    opacity: 0.6;
    z-index: 2;
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 4px;
    font-weight: bold;
}

@media screen and (min-width: 878px) {
    .overlay {
        flex-direction: colomn;
        display: flex;
        width: 85%;
        height: 40%;
        max-width: 898px;
        line-height: 33px;
    }

    .musicAppButton {
        margin: 1em;
        font-size: 2.5rem;
    }

    /* .musicAppButtons {

    } */

    /* .group1 {
        margin-right: 12em;
    }

    .group2 {
        margin-left: 13em;
    } */

    .albumCover {
        height: 255px;
        width: 255px;
        transition: 1s;
    }

}