.musicApp {
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1616877809047-d943e086b079?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzB8fHBpYW5vfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-color: var(--sb7);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.progressBar {
    width: 90%;
    height: 1px;
    margin-bottom: 15px;
    position: absolute;
    top: 1px;
}

.progress {
    width: 0.5px;
    background-color: orange;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.overlay {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 75%;
    height: 75%;
    max-width: 456px;
    border-radius: 22px;
    padding: 0.5em;
    background-color: var(--sb5);
    position: relative;
    transition: .75s;
    border: 5px ridge #222;
    outline: 5px solid var(--sb10);
}

.albumCover {
    position: absolute;
    border-radius: 22px;
    height: 200px;
    width: 200px;
    z-index: 1;
    transition: 1s;
    border: 5px solid var(--sb6);
}

.albumCover img {
    height: 100%;
    width: 100%;
    border-radius: 22px;
    transition: 1s;
    border: 4px ridge #111;
}

.musicAppButtons .group1 {
    margin-bottom: 14em;
    transition: .5s;
}

.musicAppButton {
    font-size: 2rem;
    margin: .5em;
    cursor: pointer;
    padding: .2em;
    border-radius: 11px;
    transition: .5s;
}


.musicApp i:hover {
    transition: 0.5s;
    color: ivory;
}

.musicApp i:active {
    transform: scale(0.95);
}

.songTitle,
.artist {
    color: whitesmoke;
    opacity: 0.6;
    z-index: 2;
    text-transform: uppercase;
    font-size: 1.25rem;
}

@media screen and (min-width: 878px) {
    .overlay {
        flex-direction: colomn;
        display: flex;
        width: 82%;
        height: 49%;
        max-width: 808px;
        line-height: 33px;
    }

    .musicAppButton {
        margin: 0.4em;
        font-size: 3rem;
    }

    .musicAppButtons {
        display: flex;
        margin-top: 14em;
    }

    .group1 {
        margin-right: 12em;
        margin-top: 1em;
    }

    .group2 {
        margin-left: 12em;
    }

    .albumCover {
        height: 255px;
        width: 255px;
        transition: 1s;
    }

}