.noPage {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjZ8fGN1dGUlMjBwdXBweXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60');
    background-size: cover;
    background-blend-mode: multiply;
    background-color: moccasin;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-position: center;
}

.noPageInfo {
    text-align: center;
    margin-bottom: 5em;
}

.noPageInfo h1 {
    padding: 1em;
    color: whitesmoke;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.noPageInfo button {
    margin-top: 2em;
    padding: 1em;
    border-radius: 5px;
    letter-spacing: 2px;
    color: #111;
    border: 1px solid white;
    text-transform: uppercase;
    box-shadow: 0 0 55px silver;
}

button:hover {
    cursor: pointer;
}