.PomodoroApp {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pomodoro-toggle {
    font-size: 40px;
    position: absolute;
    top: 11px;
    right: 33px;
    cursor: pointer;
    transform: rotate(90deg);
}

.pomodoro-timer h1 {
    color: navajowhite;
    font-size: 8rem;
    letter-spacing: 11px;
    opacity: .1;
}

.pomodoro-button {
    background: var(--sb5);
    color: rgb(255, 222, 173);
    border: 5px ridge rgba(112, 82, 53);
    font-size: 1.25rem;
    padding: .1em .8em;
    border-radius: 11px;
    letter-spacing: 4px;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
}

.pomodoro-button:hover {
    border: 5px ridge navajowhite;
}

.pomodoro-heading h1 {
    font-family: 'NTR', sans-serif;
    font-size: 2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgba(112, 82, 53);

}

/* @media  */

@media (min-width: 675px) {
    .timer {
        font-size: 3.1rem;
    }

    .heading {
        font-size: 1.6rem;
    }

    .pomodoro-button {
        font-size: 1.4rem;
    }
}

@media (min-width: 1175px) {
    .timer {
        font-size: 3.2rem;
    }

    .heading {
        font-size: 1.7rem;
    }

    .pomodoro-button {
        font-size: 1.5rem;
    }
}