.PomodoroApp {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.pomodoro-toggle {
    font-size: 40px;
    position: absolute;
    top: 0px;
    right: 22px;
    cursor: pointer;
    transform: rotate(90deg);
}

.pomodoro-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.pomodoro-heading h1 {
    font-family: 'NTR', sans-serif;
    font-size: 2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(255, 222, 173);
}

.pomodoro-timer h1 {
    font-size: 7rem;
    letter-spacing: 11px;
    text-shadow: 0 0 111px antiquewhite;
}

.pomodoro-button {
    color: rgb(255, 222, 173);
    font-size: 1.25rem;
    padding: .1em .8em;
    border-radius: 22px;
    letter-spacing: 4px;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    border: 5px solid transparent;
    box-shadow: 0 0 11px antiquewhite;
    background-color: transparent;
}

.pomodoro-button:hover {
    border: 5px solid rgb(255, 222, 173);
}


/* @media  */

@media (min-width: 675px) {
    .pomodoro-timer h1 {
        font-size: 8rem;
    }

    .heading {
        font-size: 1.6rem;
    }

    .pomodoro-button {
        font-size: 1.4rem;
    }
}

@media (min-width: 1175px) {
    .pomodoro-timer h1 {
        font-size: 9rem;
    }

    .heading {
        font-size: 1.7rem;
    }

    .pomodoro-button {
        font-size: 1.5rem;
    }
}