/* LANDING PAGE */

.resume-landing-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--sb1);
    text-align: center;
}

.resume-landing-page-img {
    background-image: url('../assets/PortfolioPhoto.svg');
    background-repeat: no-repeat;
    background-size: cover;
    outline: 3px ridge var(--sb4);
    background-blend-mode: multiply;
    border-radius: 50%;
    height: 333px;
    width: 233px;
    margin: 4em;
    transition: .5s;
}

.resume-landing-page .resume-name {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: .75rem;
    color: var(--sb6);
    transition: .5s;
    line-height: 33px;
}

.resume-landing-page h2 {
    letter-spacing: 11px;
    color: #665;
    font-size: 1rem;
}

/* EDUCATION PAGE  */

.resume-education-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 22px;
    transition: .5s;
}

.resume-education-page-img {
    width: 275px;
    height: 275px;
    margin: 1em 0;
    background-image: url('../assets/BoiseState.png');
    background-size: cover;
    background-position: center;
}

.resume-education-coding-page-img {
    width: 275px;
    height: 275px;
    background-image: url('../assets/codingImg.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 1.5em;
}

.resume-education-h1 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #0033A0;
}

.resume-education-h2 {
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
}

.resume-education-h3 {
    font-size: 1.85rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 2rem;
    color: white;
}

.resume-education-h4 {
    font-size: 1rem;
    margin-bottom: .5em;
    font-weight: 100;
    letter-spacing: 2px;
    color: #0033A0;
    font-style: italic;
}

/* AWARDS PAGE */

.awards-page {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: tan;
}

.awards-h1 {
    text-transform: uppercase;
    width: 90vw;
    font-size: 2rem;
    color: antiquewhite;
    background-color: var(--sb1);
    border-top: ridge 1px antiquewhite;
    border-bottom: ridge 1px antiquewhite;
    letter-spacing: 2px;
    text-align: center;
    transition: .5s;
}

.trophy-div {
    display: flex;
}

.awards-h5 {
    color: white;
    letter-spacing: 1px;
}

.trophy-div h5 {
    color: #665;
    font-size: 1rem;
    font-weight: 100;
    line-height: 22px;
}

.trophy-div i {
    margin-right: .5em;
    color: #665;
    font-size: 49px;
}

.awards-page .date {
    margin-left: 4.2em;
    margin-top: -1.5em;
    margin-bottom: .5em;
    letter-spacing: 1px;
    font-weight: 100;
    color: var(--sb4);
}


@media screen and (min-width: 956px) {
    .resume-landing-page {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        transition: .5s;
    }

    .resume-landing-page-img {
        height: 385px;
        width: 260px;
        transition: .5s;
    }

    .resume-landing-page .resume-name {
        letter-spacing: 1px;
        font-size: 1.25rem;
        transition: .5s;
        margin: 2em;
    }

    .resume-landing-page h2 {
        letter-spacing: 4px;
        margin: .5em 0;
        transition: .5s;
    }

    .resume-education-page {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        transition: .5s;
    }

    .resume-education-page-img {
        width: 255px;
        height: 255px;
        transition: .5s;
    }

    .resume-education-coding-page-img {
        width: 266px;
        height: 266px;
        transition: .5s;
    }

    .resume-education-h1 {
        font-size: 1.75rem;
        text-transform: uppercase;
    }

    .resume-education-h3 {
        font-size: 2.5rem;
    }

    .resume-education-h4 {
        font-size: rem;
        margin-bottom: 2em;
    }

    .awards-page {
        transition: .5s;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .awards-h1 {
        font-size: 4rem;
        letter-spacing: 2px;
        transition: .25s;
        color: white;
        background-color: transparent;
        border: none;
        outline: none;
        width: auto;
    }

    .awards-h5 {
        color: white;
        letter-spacing: 5px;
    }

    .trophy-div h5 {
        color: #665;
        font-size: 1.5rem;
    }

    .trophy-div i {
        margin-right: .5em;
        color: #665;
        font-size: 49px;
    }

    .awards-page .date {
        margin-left: 4.2em;
        margin-top: -1.5em;
        margin-bottom: .5em;
        letter-spacing: 1px;
        font-weight: 100;
        color: var(--sb4);
    }

}