/* LANDING PAGE */

.resume-landing-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--sb1);
    text-align: center;
}

.resume-landing-page-img {
    background-image: url('../assets/PortfolioPhoto.svg');
    background-repeat: no-repeat;
    background-size: cover;
    outline: 3px ridge var(--sb4);
    background-blend-mode: multiply;
    border-radius: 50%;
    height: 333px;
    width: 233px;
    transition: .5s;
}

.resume-landing-page .resume-name {
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-size: .75rem;
    color: #665;
    line-height: 33px;
}

.resume-landing-page h2 {
    letter-spacing: 1vw;
    color: #665;
    font-size: 1rem;
}

/* EDUCATION PAGE  */

.resume-education-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 22px;
}

.resume-education-page-img {
    width: 275px;
    height: 275px;
    background-image: url('../assets/BoiseState.png');
    background-size: cover;
    background-position: center;
}

.resume-education-coding-page-img {
    width: 275px;
    height: 215px;
    background-image: url('../assets/codingImg.jpg');
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-bottom: 1.5em;
}

.resume-education-h1 {
    font-size: 1.8rem;
    letter-spacing: .5vw;
    text-transform: uppercase;
    margin-bottom: -.8em;
    color: white;
}

.resume-education-h2 {
    font-size: 1.5rem;
    letter-spacing: .5vw;
    text-transform: uppercase;
    color: darkslateblue;
}

.resume-education-h3 {
    font-size: 2rem;
    letter-spacing: .75vw;
    color: white;
    margin-bottom: -.75em;
}

.resume-education-h4 {
    font-size: 1rem;
    margin-bottom: .5em;
    letter-spacing: .5vw;
    color: #0033A0;
    font-style: italic;
}

/* AWARDS PAGE */

.awards-page {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--sb1);
}

.awards-letter-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 5px;
    background-color: rgba(102, 102, 85, .8);
}

.awards-letter {
    width: 9vw;
    text-align: center;
    font-size: 1.4rem;
    color: antiquewhite;
    border: 5px ridge rgba(102, 102, 85, .6);
    background-color: rgba(102, 102, 85, .4);
}

.trophy-div {
    display: flex;
    align-items: center;
}

.awards {
    letter-spacing: .25vw;
}

.awards-h5 {
    color: #111;
    letter-spacing: .5vw;
}


.trophy-div h5 {
    color: gray;
    font-size: 1rem;
    font-weight: 100;
    line-height: 22px;
}

.trophy-div i {
    margin: .5em;
    color: rgba(102, 102, 111, .3);
    font-size: 2.5rem;
}

/* Experience Page */

.resume-experience-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-item-container {
    margin-bottom: 1em;
}

.experience-title-and-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
}

@media screen and (min-width: 956px) {
    .resume-landing-page {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .resume-landing-page-img {
        height: 385px;
        width: 260px;
        transition: .5s;
    }

    .resume-landing-page .resume-name {
        font-size: 1.25rem;
        margin: 2em;
        line-height: 55px;
        letter-spacing: 3vw;
    }

    .resume-landing-page h2 {
        letter-spacing: 4px;
        margin: .5em 0;
        transition: .5s;
    }

    .resume-education-page {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .resume-education-page-img {
        width: 255px;
        height: 255px;
        transition: .5s;
    }

    .resume-education-coding-page-img {
        width: 266px;
        height: 266px;
        transition: .5s;
    }

    .resume-education-h1 {
        font-size: 2.5rem;
    }

    .resume-education-h3 {
        font-size: 2rem;
    }

    .resume-education-h4 {
        font-size: rem;
        margin-bottom: 2em;
    }

    .awards-page {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .awards-letter-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 0%;
        width: 33px;
        align-items: center;
        background-color: rgba(102, 102, 85, .5);
    }

    .awards-letter {
        border: 5px ridge gray;
        margin: 11px;
        color: antiquewhite;
    }

    .awards-h5 {
        color: #444;
        letter-spacing: 5px;
    }

    .trophy-div h5 {
        color: gray;
        font-size: 1.25rem;
    }

    .trophy-div i {
        font-size: 40px;
    }
}