.hamburger {
    top: 22px;
    left: 11px;
    z-index: 111;
    position: absolute;
}

.sidebar-open {
    background-image: url('https://images.unsplash.com/photo-1621262402468-a1c27d6ba468?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZHJhd2VyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
    width: 275px;
    height: 100vh;
    transition: .8s;
    position: absolute;
    z-index: 11;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: silver;
    background-blend-mode: multiply;
}

.sidebar-closed {
    background: transparent;
    width: 275px;
    height: 100vh;
    transition: .8s;
    transform: translateX(-276px);
    position: absolute;
}

.navMenu {
    position: absolute;
    top: 66px;
    left: 22px;
    z-index: 1;
}

.navMenu nav ul {
    list-style: none;
}

.navMenu nav li {
    margin: 1em 0;
    font-size: 1.5rem;
    transition: .25s;
}

.navMenu nav li:hover {
    padding-left: .25em;
    transition: .25s;
}

.navMenu nav a {
    color: white;
}