* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.leaflet-container {
    height: 100vh;
    width: 100vw;
    opacity: 1;
}

.leaflet-bar a {
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: .1em;
}