* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.leaflet-container {
    height: 100vh;
    width: 100vw;
    opacity: 1;
}

.leaflet-bar a {
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: .1em;
}

.tesla {
    z-index: 1111;
    position: absolute;
    margin: 13px auto;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
    width: 75%;
}

.tesla-title {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    backdrop-filter: blur(10px);
    letter-spacing: 1vw;
    color: #665;
}

.popup {
    padding: 0 1em;
}

.tesla-stall-count {
    color: red;
    font-size: 1.1rem;
}

.tesla-stall-status {
    color: red;
    font-size: .9rem;
}

.tesla-h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #665;
}

.tesla-h2 {
    font-size: 1.25em;
    text-transform: uppercase;
    color: #665;
    letter-spacing: 2px;
    margin: .5em 0;
}

.tesla-h3 {
    font-size: 1.1em;
    text-transform: uppercase;
    color: #665;
    letter-spacing: 2px;
}

@media screen and (min-width: 777px) {
    .tesla-title {
        font-size: 1.75em;
    }
}