.app {
    background-image: url("https://images.unsplash.com/photo-1561484930-998b6a7b22e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fHdlYXRoZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=1800&q=60");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: var(--sb1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.search-box {
    width: 100%;
    position: absolute;
    top: 28px;
}

.search-box .search-bar {
    font-size: 1.5rem;
    display: block;
    height: 35px;
    width: 60%;
    margin: auto;
    border-radius: 4px;
    text-align: center;
    font-style: italic;
    background-color: transparent;
    color: white;
    letter-spacing: 3px;
    border: none;
    border: 1px solid rgba(255, 255, 255, .8);
}

.search-box:hover .search-bar:hover {
    cursor: pointer;
}

::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.search-box .search-bar:focus {
    border: 1px ridge antiquewhite;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}

.weather-container {
    width: 75%;
    background-color: rgba(77, 77, 77, 0.4);
    border-radius: 11px;
    border: 1px solid #333;
    padding: 3em 2em;
}

.location-box .location {
    color: whitesmoke;
    font-size: 2rem;
    letter-spacing: .5vw;
}

.location-box .date {
    color: whitesmoke;
    font-size: 1.1rem;
    letter-spacing: .5vw;
}

.weather-box {
    text-align: center;
}

.weather-box .temp {
    display: inline-block;
    background-color: rgba(22, 22, 22, 0.4);
    border-radius: 16px;
    padding: 0 22px;
    color: whitesmoke;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 1vw;
    margin-bottom: .1em;
}

.weather-box .weather {
    color: whitesmoke;
    font-size: 2rem;
    letter-spacing: .5vw;
}